.idea
composer.lock
*.log
thinkphp
application/bis/view/register/.DS_Store
application/bis/view/login/.DS_Store
application/bis/view/public/.DS_Store
public/static/index/css/.DS_Store
public/static/index/image/.DS_Store
application/bis/view/login/.DS_Store
application/bis/view/public/.DS_Store
public/static/index/image/.DS_Store
